<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Маркетплейс</title>
</head>
<body>
    <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200 background">
        <a href="/" class="text-3xl font-bold">\ MARKET || PLACE \</a>

        <div class="space-x-6">
             <a href="{% url 'item:new' %}" class="text-s font-semibold hover:text-gray-300">Разместить объявление</a>
             <a href="#" class="text-s font-semibold hover:text-gray-300">Обзор</a>
            <a href="#" class="px-2 py-1 bg-gray-100 text-xl rounded-xl hover:bg-gray-400"> Войти в систему</a>
            <a href="{% url 'dashboard:index' %}" class="px-2 py-1 text-white bg-gray-500 text-xl rounded-xl hover:bg-teal-900"> DashBoard</a>

        </div>
    </nav>
    <div class="px-6 py-6">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>